{% extends "calendar_app/base.html" %}

{% block content %}
<h1>Event Details</h1>

<p><strong>Title:</strong> {{ event.title }}</p>
<p><strong>Date:</strong> {{ event.event_date }}</p>
<p><strong>Time:</strong> {{ event.event_time }}</p>
<p><strong>Sport:</strong> {{ event.sport.name }}</p>
<p><strong>Home Team:</strong> {{ event.home_team.name }}</p>
<p><strong>Away Team:</strong> {{ event.away_team.name }}</p>
<p>
    <strong>Venue:</strong>
    {% if event.venue %}
        {{ event.venue.name }}
    {% else %}
        -
    {% endif %}
</p>
<p><strong>Description:</strong> {{ event.description }}</p>

<a class="btn" href="{% url 'event_list_page' %}">Back to Event List</a>
{% endblock %}